@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #11466A;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  
}

h2 {
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 28px;
  letter-spacing: 1px;
  color: #fff;
}

h3 {
  font-family: "Lora", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #127BF2;
}

h5 {
  font-family: "Lora", sans-serif;
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  color: #11466A;
}

/*------------ header/navbar ------------*/

.nav-link {
  color: #11466A !important;
}

.navbar-text-style {
  font-size: 24px;
}

.menu {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 20px;
}

.menu a:hover {
  color: #127BF2!important;
}

.active {
  color: #127BF2!important;
}

/*------------ hero image ------------*/

.hero-container {
  height: 100vh;
  background: url("../images/barcelona-hero-image.jpg") no-repeat bottom left fixed;
  background-size: cover;
  padding-bottom: 20%;
  background-color: #11466A;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* code credit for overlay on hero image: https://cssanimation.rocks/build-hero-header/ */
.hero-header-container:before {
  background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.6));
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.jumbotron {
  background-color: transparent;
  justify-content: center; 
}

.hero-text {
  text-align: center;
  padding-top: 60%;
}

.hero-info-text {
  text-align: center;
  padding-top: 2rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-sub {
  text-align: center;
}

.hero-do-text {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-top: 2rem;
  color: #fff;
  text-transform: uppercase;
}
/*------------ hero to-do section ------------*/
/*code credit for fixed width button: https://stackoverflow.com/questions/11050269/fixed-width-buttons-with-bootstrap*/

.btn {
  width: 130px !important;
}

.icons {
  width: 20px;
  height: 20px;
  color: white;
}

.to-do{
    padding: 10px;
}

.button-text {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: #127BF2;
  border-color: transparent;
}

.button-text:hover {
  color: #fff;
  background: #11466A;
  border-color: #11466A;
}


/*------------ map ------------*/

div#map {
  min-height: 360px;
}

#map {
  height: 700px;
  width: 100%;
}

.info-window a {
  text-decoration: none;
  color: #11466A !important;
}

.info-window a:hover {
  color: #127BF2!important;
}

/*------------ weather ------------*/

#weather-section{
    background-color: #FFEFD6;
}

.weather-text {
  text-align: center;
  color: #11466A;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 2rem;
  text-transform: uppercase;
}

.visualcrossing-wx-widget{
  color:#fff !important;
}

.visualcrossing-wx-widget .period .date {
  color:#fff !important;
  font-size: 14px !important;
}

.visualcrossing-wx-widget .title {
  color:#fff !important;
  font-size: 16px !important;
}

.sr-only{
  background-color: black;
}

/*------------ contact form ------------*/

#form-container {
  height: 100vh;
  background: url("../images/barcelona-hero-contact.jpg") no-repeat bottom right fixed;
  background-size: cover;
  padding-top: 30px;
  justify-content: center;
}

.form-header {
  font-size: 22px;
  font-weight: 300;
  color: #11466A;
  letter-spacing: 2px;
}

.form-sub {
  font-size: 14px;
  font-family: "Lora", sans-serif;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 2px;
  color: #11466A;
}

.box-size {
  height: 100px;
}

.contact-send {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #fff;
  background: #11466A;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
         
}

#mc_embed_signup .asterisk{
    color: #B30000 !important;
}

#mc_embed_signup .button{
   background: #11466A !important;  
}

/*------------ scroll to top button ------------*/
/* code for scroll to top button: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 55px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #127BF2;
  color: white;
  cursor: pointer;
  font-size: 40px;
  border-radius: 5%;
  padding: 10px;
}

#myBtn:hover {
  background-color: #11466A;
}


/*------------ footer ------------*/

footer {
  height: 80px;
  margin: 0;
}

.social-links {
  padding-bottom: 10px;
  padding-top: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  font-size: 20px;
  line-height: 7px;
  text-align: center;
  color: #11466A;
}

.social-links i:hover {
  color: #127BF2;
}

.sr-only{
    background-color: black;
}

/*------------ media queries ------------*/
/*Device breakpoints taken from https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Viewports between 320px and 480px wide */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 36px;
  }
  .button-text {
    font-size: 26px;
  }
  .btn-pos {
    margin-top: 20px;
  }
  .btn {
    width: 180px !important;
  }
  .container-fluid {
    padding-left: 15px;
  }
  .weather-text {
    font-size: 28px;
  }
   .hero-text {
    padding-top: 20%;
  }
  .to-do{
    justify-content: center;
}
.hero-do-text {
    font-size: 24px;
}
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .hero-text {
    padding-top: 30%;
  }

   .to-do{
    justify-content: center;
    padding-top: 4rem;
}
.hero-do-text {
    font-size: 26px;
}

}

