@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800|Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #777777;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FFCE0A;
}

h2 {
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 28px;
  letter-spacing: 1px;
  color: #11466A;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #11466A;
}

/*------------ header/navbar ------------*/

.menu {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #777777;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 20px;
}
/*------------ hero image ------------*/

.hero-container {
  height: 100vh;
  background: url("../images/barcelona-hero-image.jpg") no-repeat bottom right fixed;
  background-size: cover;
  padding-bottom: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  background-color: transparent;
  
}

.hero-text {
   text-align: center; 
   padding-top: 50%;
}

.hero-sub {
  text-align: center;
  font-size: 32px;
}

/*------------ hero to-do section ------------*/


.icons {
  width: 70px;
  height: 70px;
  text-align: center;
  color: #11466A;
 
}

.btn-pos {
  margin-top: 20px;
}

.button-text {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #fff;
  background: #11466A;
  border-color: transparent;
}

.button-text:hover {
  color: #fff;
  background: #FFCE0A;
  border-color: #FFCE0A;
}

/*------------ map ------------*/

div#map {
    min-height: 360px;
}

#map {
  height: 700px;
  width: 100%;
}

/*------------ footer ------------*/

footer {
  height: 80px;
  margin: 0;
}

.social-links {
  padding-bottom: 10px;
  padding-top: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  font-size: 20px;
  line-height: 7px;
  text-align: center;
  color: #11466A;
}

.social-links i:hover {
  color: #FFCE0A;
}